<div class="d-flex align-items-center bsod text-white text-monospace h-100">
    <div class="container">
        <p class="text-center"><span class="bsod-highlight">shea.nz</span></p>
        <p>A fatal exception 404 has occured at this page. The page could not be found.</p>
        <p>*    If you typed this URL, check what you typed and try again.
        <br/>*    Otherwise, if you clicked a link to get here, go back to the home page.</p>
        <p class="text-center"><a class="text-white text-decoration-none" routerLink="/">Click here to go home</a> _</p>
    </div>
</div>