@import url('../../node_modules/prismjs/themes/prism-solarizedlight.css');

@font-face {
    font-family: "Fenwick";
    src: url("/assets/medieval/fenwick.ttf");
}

@font-face {
    font-family: "Goudy";
    src: url("/assets/medieval/goudy.ttf");
}

$font-family-sans-serif: "Fenwick", sans-serif;
$font-size-base: 2rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

.table td, .table th {
    border: 1px solid rgba(255, 0, 0, 0.3) !important;
}

html, body {
    font-size: min(2.5vh, 1.5vw);
}