<div class="bg">
  <div class="container">
    <p>
      Edward the Second, by the Grace of God of England and France King: To all to whom these presents shall come,
      Greeting.
      Know ye, that We have commanded that the Page of shea.nz, which is lost or mislaid, be sought out and found;
      and that all Our loving subjects in Our realms and territories, and all others whom it may concern, are to take
      notice, and are hereby strictly enjoined and required to make diligent search and enquiry, and to use all due
      diligence to find the said Page, and to report its whereabouts to Our principal Secretary of State and to Our
      Council.
      And We do hereby strictly enjoin and require all Our loving subjects, and all persons whom it may concern, to whom
      this Our writ shall come, to aid and assist in the due execution herein. In Witness whereof, We have caused these
      Our
      letters to be made Patent. Witness Ourself at Westminster the 15th day of July in the 33rd year of Our Reign.
      <br/><br/>
      By the King Himself Signed with His own hand
    </p>
  </div>
</div>
