.icon-welcome::before {
    content: url('/assets/icons/world-1.png');
}

.icon-meteorology::before {
    content: url('/assets/icons/media_player_stream_sun3.png');
}

.icon-checkin19::before {
    content: url('/assets/icons/camera-3.png');
}

.icon-telegraphy::before {
    content: url('/assets/icons/midi_tl-0.png');
}

.icon-kplus::before {
    content: url('/assets/icons/user_computer_pair-1.png');
}

.icon-remote::before {
    content: url('/assets/icons/mixer_sound-1.png');
}

.icon-image::before {
    content: url('/assets/icons/imagpng-0.png');
}

.icon-nzxmltv::before {
    content: url('/assets/icons/network_television-1.png');
}